body {
    background-color: #FFF6F6; /* 背景色を#FFF6F6に変更 */
    margin: 0; /* ページ全体のmarginを0に設定 */
  }
  


  .didid {
    box-shadow: 0 0 6px 1px #faccbc, 0 0 6px 1px #faccbc inset;/*ふわりとした影*/
    color: #DC8080;
    margin-left: 600px; /* 適切な余白を設定してください */
    margin-right: 80px; 
    border: 10px solid #FFFFFF; /* ピンク色の枠線 */
    padding: 10px;
    background-color: white;
    border-radius: 30px; /* 角を丸くする */
    margin-top: 10px; /* 右側の余白 */
}

.image-container16  {
  margin-top: 10px;
  margin-left: 10px; /* 上のマージンの値を調整 */
  height: 200px; 

}


.image-container16 img {
    
    border-radius: 10px;
  width: 45%;
  height: 160%;
  display: block;
  margin-top: 10px;
  margin-left: 0;
  
}

  nav {
    padding: 30px 0; /* 上下のpaddingを10pxに設定 */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #F7E7E7; /* ヘッダーの背景色を#F7E7E7に変更 */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 50px; /* メニューの間隔を30pxに変更 */
  }
  
  nav ul li a {
    font-family: Courier New;
    color: black;
    background-color: #F7E7E7;
    text-decoration: none;
  }
  
  .title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .title-container h1 {
    margin: 0;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .title-container h4 {
    margin: 0;
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  #header {
    width: 100%;
    height: 150px;
    background-color: #F7E7E7;
    position: relative; /* ヘッダー要素を相対配置に設定 */
  }
  

  #header::after {
    content: ""; /* 横棒の要素を追加 */
    position: absolute;
    top: 100px; /* 上に15px配置 */
    left: 0;
    width: 100%;
    height: 4px; /* 横棒の高さを4pxに設定 */
    background-color: #DC8080; /* 横棒の背景色を#DC8080に設定 */
    
  }
  
  #header .wrapper {
    margin: 0 auto;
    width: 120%;
    max-width: 1000px;
  }
  
  .animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: #F7E7E7;
    border-radius: 50%;
    margin: 20px;
  }




